{% extends "layout.html" %}

{% block header %}
<title>Delete Items</title>
<div id="container">
    <h1 style="text-align: center">Delete Items</h1>
</div>
{% endblock %}


<!--pretty similar to additem.html except button colors and a few texts-->
{% block body %}
    <form action="/deleteitem" method="post">
        <div class="d-flex flex-row justify-content-center align-items-center mt-3">
            <div class="mx-auto text-center">
                <label for="inputItem" class="form-label">Item Name</label>
                <input name="nameField" type="text" class="form-control">
            </div>

            <div class="mx-auto text-center">
                <label for="inputItemCount" class="form-label">Item Count</label>
                <input name="countField" type="number" class="form-control">
            </div>

            <div class="mx-auto text-center mt-4">
                <button type="submit" class="btn btn-danger">Delete Item</button>
            </div>
    </form>
{% endblock %}