<!-- https://stackoverflow.com/questions/31662681/flask-handle-form-with-radio-buttons  Helped me in making the connection between flask and radio button-->
<!-- https://stackoverflow.com/questions/14591202/how-to-make-a-radiofield-in-flask for the help in radio buttons-->
<!-- https://stackoverflow.com/questions/9887360/how-can-i-check-if-a-checkbox-is-checked - Helped me in checking the state of switch, i.e. checked or unchecked at a change-->
{% extends "layout.html" %}

{% block header %}
    <title>Settings</title>
    <script>        
        document.addEventListener('DOMContentLoaded', function(){
            let inputs = document.querySelectorAll(".form-check-input");
            var themeState = localStorage.getItem("darkThemeEnabled")
            if (themeState == "true") {
                inputs[0].checked = true;
            }
            else {
                inputs[0].checked = false;
            }
            inputs.forEach((element) =>
                element.addEventListener('change', e => {
                    if (e.target.checked == true) {
                        console.log("Switch checked!");
                        localStorage.setItem("darkThemeEnabled", "true");
                    }
                    else {
                        console.log("Switch unchecked!");
                        localStorage.setItem("darkThemeEnabled", "false");
                    }
                    location.reload()
                })
            );
        });
    </script>
{% endblock %}

<!-- Took help from ChatGPT but no luck, so I had to manually use margin-right property and center the div elements.-->
{% block body %}
    <form action="/settings" method="POST">
        <div id="container-check" class="d-flex flex-column justify-content-center align-items-center text-center">
            <h1>Settings</h1>
            <div class="form-check form-switch d-flex flex-column justify-content-center align-items-center" style="margin-right: 15px; margin-top: 16px;">
                <label class="form-check-label" for="flexSwitchCheckDefault" style="margin-right: 18px;"><h4>Dark Mode</h4></label>
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" style="transform: scale(1.5);">
            </div>
        </div>
    </form>
{% endblock %}